.CreateWiki{
    position: fixed; /* または absolute; ビューポートまたは祖先要素に対して固定 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 80vw;
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 1rem;
}
.CreateWiki .InputBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70vw;
    height: 50vh;
}

.CreateWiki .InputBox .TextInputArea{
    width: 35vw;
    height: 50vh;
    text-align: top;
    padding: 1rem;
    resize: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 0.8rem;
    overflow: auto;
    white-space: nowrap;
}

.CreateWiki .InputBox .TextInputArea:focus{
    outline: none;
}

.CreateWiki .InputBox .markdown-preview{
    width: 35vw;
    height: 50vh;
    text-align: top;
    padding: 1rem;
    resize: none;
    background-color: black;
    border-radius: 1rem;
    border: none;
    color: white;
    font-size: 0.8rem;
    overflow: auto;
    text-align: left;
}

.CreateWiki .TitleArea{
    width: 70vw;
    height: 5vh;
    color:white;
    text-align: top;
    resize: none;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    border-bottom: 0.1rem solid white;
    margin-bottom: 1rem;
}

.CreateWiki .TitleArea:focus{
    outline: none;
}

.CreateWiki .TitleArea::placeholder{
    color: white;
    opacity: 0.5;
}

.CreateWiki button{
    width: 50vw;
    height: 5vh;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
}

.CreateWiki button:hover{
    background-color: #0056b3;
}