.Home{
    position: fixed; /* または absolute; ビューポートまたは祖先要素に対して固定 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 80vw;
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 1rem;
}
.Home .Content{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: top;
}

.Home .Content .Post{
    background-color: white;
    border-radius: 1rem;
    max-height: 30vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    color: #333;
    text-align: left;
    align-self: center;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}
.Home .Content .Post:hover{
    background-color: #c3c3c3;
}
.Post h1{
    font-size: 1rem;
    margin: 0.5rem;
}
.Post h2{
    font-size: 0.8rem;
    margin: 0.5rem;
}
.Post .PostDate{
    font-size: 0.5rem;
    margin-left: 0.5rem;
}